[Unit]
Description=IDPSS
After=network.target

[Service]
Type=simple
User=lt
ExecStart=/usr/bin/python /usr/bin/idpss

[Install]
WantedBy=multi-user.target