[Unit]
Description=IDPSS
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/idpss

[Install]
WantedBy=multi-user.target